# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Eclipse
.classpath
.project
.settings/
.factorypath

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Java
*.class

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Spring Boot
spring.log

# Environment / secrets
.env
*.env